<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>College Data Visualizer</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css')}}" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/landing-page.min.css')}}" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href='/'>College Data Visualizer</a>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">{{data.school_name}}
            <small>{{data.city}}, {{data.state}}</small>
        </h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-2">
                <img class="img-fluid" src="//logo.clearbit.com/{{data.url}}" alt="">
            </div>

            <div class="col-md-10">
                <h3 class="my-3">Quick Facts</h3>
                <div class='row'>
                    <div class="col-md-6">
                        <h4 style='font-size: 22px'><b>Undergrad Enrollment:</b></h4>
                        <h4 style='font-size: 22px'><b>Admit Rate:</b></h4>
                        <h4 style='font-size: 22px'><b>ACT Mid 50:</b></h4>
                        <h4 style='font-size: 22px'><b>SAT Mid:</b></h4>
                        <h4 style='font-size: 22px'><b>Website:</b></h4>
                    </div>
                    <div class="col-md-6">
                        <h4 style='font-size: 22px'>{{data.ugds}}</h4>
                        <h4 style='font-size: 22px'>{{data.admit_rate}}</h4>
                        <h4 style='font-size: 22px'>{{data.act_25}} - {{data.act_75}}</h4>
                        <h4 style='font-size: 22px'>{{data.sat_avg}}</h4>
                        <h4 style='font-size: 22px'><a href='https://{{data.url}}'>Website</a></h4>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</body>